<div class="container">
  <div class="col-lg-12">
    <div class="row">
      <% if flash[:notice] %>
      <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
      <% end %>
      <div class="col-sm-8">
        <h2 class="tbspace"><%= @list.name %> <%= link_to "✎", edit_list_path(@list), class: "btn btn-outline-info btn-sm" %></h2>
      </div>
      <div class="col-sm-4 offset-sm-8">

        <ul class="list-group">
          <%= @list.items.each do |r| %>
          <li class="list-group-item">
            <span class="tag tag-default tag-pill float-xs-right">14</span>
            <%= r.name %>
          </li>
          <% end %>
        </ul>

      </div>
      <div class="col-lg-12">
        <%= link_to "New Item", new_list_item_path(@list), class: "btn btn-outline-success btn-sm" %>

        <%= link_to "Browse Lists", lists_path, class: "btn btn-outline-primary btn-sm" %>
      </div>
    </div>
  </div>
</div>
